@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Estedad-VF";
  src: url("../fonts/Estedad.woff2") format("woff2");

  font-weight: normal;
  font-style: normal;
}

*,
html,
body {
  font-family: "Estedad-VF";
  @apply font-Estedad_VF;
}
